doctype html
div(class="container")
  - var user = username
  - var prompt = user === 'Guest' ? "Sign In/Sign Up" : "Log out"
  - var redirect = user === 'Guest' ? "/login" : "/logout"
  p Welcome, #{user} #[a(href=redirect) #{prompt}]
  
