extends layouts/layout

block content  
  include includes/navbar.pug
  include includes/userbar.pug
  div(class="container" id="header-image-container")
    img(src="/images/site/header-image.jpg" class="img-fluid" id="header-image" alt="Responsive image")
