doctype html
form(action="login" method="post")
 label(for='inputUser') Username
 input(type='text' name="username" id="inputUser" placeholder="Username" required autofocus)
  
 label(for='inputPass') Password
 input(type='password' name="password" id="inputPass" placeholder="Password" required)
  
 button(class=buttonClass type="submit") Sign in
