extends layouts/layout
block content
  include includes/navbar.pug
  include includes/errorlist.pug
  div(class="container")
    form(action="signup" method="post" class="form")
      label(for='inputUser') Username
      input(type='text' class="form-input" name="username" id="inputUser" placeholder="Username" minlength="2" maxlength="255" required autofocus)

      label(for='inputPass') Password
      input(type='password' class="form-input" name="password" id="inputPass" placeholder="Password" minlength="7" maxlength="255"  required)
   
      label(for='inputPass-repeated') Repeat Password
      input(type='password' class="form-input" name="repeated" id="inputPass-repeated" placeholder="Repeated Password" minlength="7" maxlength="255" required)
 
      button(class="btn btn-lg btn-primary btn-block" type="submit") Sign Up
 
    div(class="container other-button" id="signup-button")
      form(action="login" method="get")
        p Already Registered?
        button(class="btn btn-lg btn-primary btn-block" type="submit") Sign In
        a(class="button-link" href="/login")
